<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.blt.dao.BltDao">

    <parameterMap id="consoleMapper" type="map">
        <parameter property="lmac" mode="IN"/>
        <parameter property="vaddr" mode="IN"/>
        <parameter property="product_id" mode="IN"/>
        <parameter property="mesh_id" mode="IN"/>
        <parameter property="x" mode="IN"/>
        <parameter property="y" mode="IN"/>
        <parameter property="host" mode="IN"/>
        <parameter property="other" mode="IN"/>
        <parameter property="status" mode="IN"/>
        <parameter property="result" mode="OUT" jdbcType="INTEGER"/>
    </parameterMap>

    <select id="getLights" resultType="map">
        SELECT mname,COUNT(0) lmacn FROM f_light_demo GROUP BY mname
    </select>
    <select id="getVaddr" resultType="map">
        SELECT vaddr FROM t_light_info
    </select>

    <select id="getLmac" resultType="map">
        SELECT lmac FROM t_light_info limit 10
    </select>

    <select id="getTotal" resultType="int">
        SELECT COUNT(0) lmacn FROM f_light_demo
    </select>
    <insert id="insertLog" parameterType="string">
        INSERT INTO f_light_console(ip,msg,log_date) VALUE (#{ip},#{msg},now())
    </insert>

    <select id="saveConsole" parameterMap="consoleMapper" statementType="CALLABLE">
        CALL save_light(?,?,?,?,?,?,?,?,?,?)
    </select>

    <select id="selectIn" parameterType="map" resultType="map">
        SELECT * FROM t_light_info WHERE vaddr IN
        <foreach collection="list" index="index" item="info" separator="," open="(" close=")">
            #{info.vaddr}
        </foreach>
    </select>

    <select id="selectNotIn" parameterType="map" resultType="map">
        SELECT * FROM t_light_info WHERE vaddr NOT IN
        <foreach collection="list" index="index" item="info" separator="," open="(" close=")">
            #{info.vaddr}
        </foreach>
    </select>

    <update id="saveUpdate" parameterType="map">
        UPDATE t_light_info SET log_date=now(),`status`=NULL ,x=NULL ,y=NULL WHERE vaddr NOT IN
        <foreach collection="list" index="index" item="info" separator="," open="(" close=")">
            #{info.vaddr}
        </foreach>
    </update>

    <update id="saveUpdate2" parameterType="map">
        UPDATE t_light_info SET log_date=now(),`status`=NULL ,x=NULL ,y=NULL WHERE lmac NOT IN
        <foreach collection="list" index="index" item="info" separator="," open="(" close=")">
            #{info.lmac}
        </foreach>
    </update>

    <insert id="batchInsert" parameterType="map">
        INSERT INTO t_vaddr(vaddr) VALUES
        <foreach collection="list" item="v" index="index" separator=",">
            (
            #{v.vaddr}
            )
        </foreach>
    </insert>
</mapper>