serve:
  port: 9090

spring:
  mail:
    host: smtp.163.com
    username: after_chj@163.com
    password: auth001
    default-encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
  freemarker:
    content-type: text/html
    suffix: .ftl
    template-loader-path: classpath:/templates
    charset: UTF-8
    check-template-location: true

my:
  mail:
    sender: after_chj@163.com