<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/static/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <script th:src="@{/static/jquery.js}" type="text/javascript"></script>
</head>
<script type="text/javascript">
    $(function () {
        $("#show").html("jquery文件加载成功！");
        $("#test").click(function () {
            $.get("/test", {"cmd": $("#txt").val()}, function (result) {
                console.log("result", result);
            })
        })
    });
    function sendCmd(id) {
        console.log("id", id);
        var status = $("#" + id).text();
        console.log("value", status);
        if (status == '开') {
            $("#" + id).val("77010315373766");
            $("#" + id).text("关")
        } else if (status == '关') {
            $("#" + id).val("77010315323266");
            $("#" + id).text("开")
        }
        $.get("/switch", {"cmd": $("#" + id).val(), "to": "all"}, function (result) {
            console.log("result", result);
        })
    }
</script>
<body>
<h1>Welcome come to Spring Boot world!</h1>
<p id="show"></p>
<p>
    <label for="btn1">一键控制：</label>
    <button id="btn1" value="77010315373766" onclick="sendCmd(this.id)">开</button>
</p>
<p>
    <label for="test">获取灯信息：</label>
    <input type="text" id="txt" placeholder="默认ping指令77 01 01 1B 66" value="7701011B66"/>
    <input type="button" id="test" value="测试"/>
</p>
</body>
</html>