<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="${ctx}/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <!--<link th:href="@{/static/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{/static/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>-->
</head>
<body>
<h1>Hello World!<label style="color: deepskyblue" th:text="${ctx}"></label></h1>
<a th:href="@{/home/person}">首页</a><br>
<h3>
    ctx: [(${ctx})]
</h3>
</body>
</html>