<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"><!-- 1 -->

<head>
    <meta charset="UTF-8">
    <title sec:authentication="name"></title>
    <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<h1>登陆成功</h1>
<h3>当前用户：<span sec:authentication="name"></span></h3>
<div><span sec:authentication="principal.authorities"></span></div>
<h3>拥有权限：<span id="userRoles"></span></h3>
<div>
    <a href="/admin">检测ROLE_ADMIN角色</a>
</div>
<div>
    <a href="/user">检测ROLE_USER角色</a>
</div>
<div>
    <a href="/teacher">检测ROLE_TEACHER角色</a>
</div>
<div>
    <a href="/adminOrTeacher">检测ROLE_ADMIN或ROLE_TEACHER角色</a>
</div>

<div class="container">
    <div class="starter-template">
        <h1 th:text="${msg.info}"></h1>
        <p class="bg-primary" th:text="${msg.data.tip}"></p>
        <div sec:authorize="hasRole('ROLE_ADMIN')"> <!-- 3 -->
            <p class="bg-info" th:text="${msg.data.extra}"></p>
        </div>
        <div sec:authorize="hasRole('ROLE_USER')"> <!-- 4-->
            <p class="bg-info">无更多信息显示</p>
        </div>
    </div>

    <button onclick="window.location.href='/logout'">退出登录</button>

    <script th:src="@{/static/js/jquery-3.2.1.min.js}"></script>
    <script>
        $(function () {
            $.ajax({
                type: "get",
                async: "true",
                url: "/userInfo",
                dataType: 'json',
                data: {},
                success: function (res) {
                    $("#username").text(res.data.name);
                    var roles = "";
                    for (var i = 0; i < res.data.roles.length; i++)
                        roles += res.data.roles[i].name + " ";
                    $("#userRoles").text(roles);
                },
                error: function () {
                    alert("获取用户信息错误");
                }
            });
        });
    </script>
</div>
</body>
</html>